.vscode
static
.env
__pycache__
migrations
sent_emails
venv
/.idea/aws.xml
/.idea/django_homeworks.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
/db.sqlite3
/dev.env
/prod.env
/.idea/pylint.xml
/.idea/watcherTasks.xml
/.idea/encodings.xml
/.idea/dataSources.xml
/.idea/jsLibraryMappings.xml
/media/
/send_mail/
/.idea/IntensiveYandex.iml