{% extends 'base.html' %}
{% load i18n static djeymtags %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'other/css/index.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- START VENDORS CSS -->
<!-- Roboto Font:
    Usage (css):
      font-size: 16px;
      font-family: Roboto, sans-serif !important;
      font-weight: 100|300|400|500|700|900;
      font-style: italic!important; -->
<!-- Material Design Icons:
    url: https://materialdesignicons.com/
    Usage (html):
      <span class="mdi mdi-name"></span>
      Size: mdi-18px|mdi-24px|mdi-36px|mdi-48px or font-size: 16px;
      Rotate: mdi-rotate-45|mdi-rotate-90|mdi-rotate-135|mdi-rotate-180|mdi-rotate-225|mdi-rotate-270|mdi-rotate-315
      Flip: mdi-flip-h|mdi-flip-v
      Color: mdi-light|mdi-light mdi-inactive|mdi-dark|mdi-dark mdi-inactive or color: #212121; -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'other/img/carousel1.jpg' %}">
        <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'other/img/carousel2.jpg' %}">
      </div>
    
      <div class="item">
        <img src="{% static 'other/img/carousel1.jpg' %}">
      </div>
    </div>

</div>

<div class="container">

    <!-- START MAP -->
  <!-- Buttons are optional.
       (Кнопки не являются обязательными.) -->
  <style type="text/css">
    .djeym-button {
      font-family: Roboto, sans-serif !important;
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .djeym-button-bar {
      display: none;
      margin-bottom: 10px;
    }
  </style>
{#  <div class="djeym-button-bar">#}
{#    <button id="djeym-open-panel" type="button" class="djeym-button">#}
{#      <span class="mdi mdi-arrow-expand-right"></span>#}
{#      Open Panel#}
{#    </button>#}
{#    <button id="djeym-add-marker" type="button" class="djeym-button">#}
{#      <span class="mdi mdi-map-marker-plus"></span>#}
{#      Add Marker#}
{#    </button>#}
{#  </div>#}
  <div id="djeym-app" class="djeym"></div>
  <!-- END MAP -->

  <!-- START VENDORS JS -->
  <script type="text/javascript" src="{% static "djeym/js/jquery.min.js" %}"></script>
  <script src="{% static "djeym/js/jquery-regex.min.js" %}"></script>
  ...
  {% djeym_yandex_map slug='priiuty-permskogo-kraia' lang=request.LANGUAGE_CODE %}
  <!-- END VENDORS JS -->

    <div class="row justify-content-center">
        <div class="filters" style="display: flex; justify-content: space-between; border: solid 2px mediumpurple">
            {% for ind, type in animal_types %}
                <h4><a href="{% url 'homepage:home' ind %}">{{ type }}</a></h4>
            {% endfor %}
        </div>

        {% for post in posts %}
            {% include "includes/small_post_card.html" with post=post  %}
        {% endfor %}
    </div>

    <!-- map -->
    <!-- footer -->
</div>
{% endblock %}