{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'other/css/index.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'other/img/carousel1.jpg' %}">
        <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'other/img/carousel2.jpg' %}">
      </div>
    
      <div class="item">
        <img src="{% static 'other/img/carousel1.jpg' %}">
      </div>
    </div>

</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="filters" style="display: flex; justify-content: space-between; border: solid 2px mediumpurple">
            {% for ind, type in animal_types %}
                <h4><a href="{% url 'homepage:home' ind %}">{{ type }}</a></h4>
            {% endfor %}
        </div>

        {% for post in posts %}
            {% include "includes/small_post_card.html" with post=post  %}
        {% endfor %}
    </div>

    <!-- map -->
    <!-- footer -->
</div>
{% endblock %}