{% load static %}

<link href="{% static 'other/css/header.css' %}" rel="stylesheet">

<header class="py-3 mb-3 border-bottom">

  <div class="container-fluid d-flex justify-content-end">
    {% if user.is_authenticated %}
      <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatars.githubusercontent.com/u/94930027?v=4" alt="mdo" class="rounded-circle" width="32" height="32">
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
          <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
        </ul>
      </div>
    {% else %}
      <a type="button" class="btn btn-outline-light me-2" href="{% url 'users:login' %}">Войти</a>
      <a type="button" class="btn btn-warning" href="{% url 'users:signup' %}">Зарегистрироваться</a>
    {% endif %}
  </div>
</header>