{% load static %}

<link href="{% static 'other/css/header.css' %}" rel="stylesheet">

<header>
  <div class="container-fluid d-flex justify-content-between p-2">
    <nav class="navbar">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
          <a href="{% url 'homepage:home' %}">Поиск питомцев</a>
        </span>
      </div>
    </nav>
    {% if user.is_authenticated %}
      <div class="user d-flex">
        {% if user.is_shelter %}
          <a href="{% url 'posts:add_post' %}">
              <img class="plus p-3" src="{% static 'bootstrap/icons/plus-lg.svg' %}">
          </a>
        {% endif %}
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.get_img.url }}" alt="mdo" class="rounded-circle" width="32" height="32">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>            
            <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>

          </ul>
        </div>
      </div>
    {% else %}
      <div class="user">
        <a class="btn btn-outline-light m-1" href="{% url 'users:login' %}">Войти</a>
        <a class="btn btn-warning m-1" href="{% url 'users:signup' %}">Зарегистрироваться</a>
      </div>
    {% endif %}
  </div>
</header>