{% load static %}

<link href="{% static 'other/css/header.css' %}" rel="stylesheet">

<header>
  <div class="container-fluid d-flex justify-content-between p-2">
    <nav class="navbar">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
          <a href="{% url 'homepage:home' %}">Пойдём домой</a>
        </span>
      </div>
    </nav>
    {% if user.is_authenticated %}
      <div class="post d-flex">
        {% if user.is_shelter %}
            <a type="button" class="btn btn-warning dropdown-toggle m-2" data-bs-toggle="dropdown" aria-expanded="false">
            Добавить пост
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item btn btn-warning" href="{% url 'posts:add_post' 'dog' %}">Собака</a></li>
            <li><a class="dropdown-item btn btn-warning" href="{% url 'posts:add_post' 'cat' %}">Кошка</a></li>
            <li><a class="dropdown-item btn btn-warning" href="{% url 'posts:add_post' 'other' %}">Другое</a></li>
          </ul>
        {% endif %}
        <div class="dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle m-2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.avatar.url }}" alt="mdo" class="rounded-circle" width="32" height="32">
          </a>
          <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>            
            <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
          </ul>
        </div>
      </div>
    {% else %}
      <div class="user">
        <div class="btn-group">
          <a class="btn btn-outline-light m-1" href="{% url 'users:login' %}">Войти</a>
          <a type="button" class="btn btn-warning dropdown-toggle m-1" data-bs-toggle="dropdown" aria-expanded="false">
            Зарегистрироваться
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item btn btn-warning" href="{% url 'users:signup_for_user' %}">Я пользователь</a></li>
            <li><a class="dropdown-item btn btn-warning" href="{% url 'users:signup_for_shelter' %}">Я приют</a></li>
          </ul>
        </div>        
      </div>
    {% endif %}
  </div>
</header>