<div class="container text-center">
    <h2 class="title">{{ post.title }}{% if is_fav %}(В избранных){% endif %}</h2>
    <div class="post-content">
        {{ post.img_tmb }}
        <p class="post-text">{{ post.text | safe }}</p>
    </div>
    <form method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <input type="submit" value="{% if not is_fav %}Добавить в избранное{% else %}Убрать из избранных{% endif %}">
        {% endif %}
        </div>
    </form>
</div>
