{% load static %}

<div class="col m-2">
    {{ post.img_tmb }}
    <h2 class="fw-normal">{{ post.title }}</h2>
    <p>{{ post.text | safe | truncatewords_html:10 }}</p>

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a type="button" class="btn btn-success" href="{% url 'posts:edit_post' post.id %}">Изменить</a>
        <a type="button" class="btn btn-warning" href="{% url 'posts:posts_detail' post.id %}">Подробнее</a>
        <a type="button" class="btn btn-danger" href="{% url 'posts:delete_post' post.id %}">Удалить</a>
    </div>
</div>