{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container my-4 text-center">
  <div class="card">
    <div class="card-body">
      <div class="row m-5">
        <div class='col-lg-4 col-md-6 col-sm-12'>
          <img src="{{ user.avatar.url }}" width="300px" height="300px">
        </div>
        <div class='col-lg-4 col-md-6 col-sm-12'>
          <h5>Имя: {{shelter.username}}</h5>
          <h5>Почта: {{shelter.email}}</h5>
          <h5>Наш телефон: {{shelter.phone_number}}</h5>
          <h5>Адрес: {{shelter.address}}</h5>
          <h5>О приюте: {{shelter.about}}</h5>
        </div>
      </div>
    </div>
  </div>
<h2>Посты приюта</h2>
  <div class="row">
    {% if not shelter_posts %}
      <h3>У приюта пока что нет постов</h3>
    {% else %}
      {% for post in shelter_posts %}
        <div class='col-lg-4 col-md-6 col-sm-12'>
          {% include 'includes/small_post_card.html' with post=post %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}