html {
    background-color: white;
}

body {
    background-image: linear-gradient(#C5AFFF, #FFF);
}

.messages a {
    color: black;
    text-decoration: none;
}

.messages a:hover {
    color: blue;
    text-shadow: 0 0 5px gray;
}